matrix:
  include:

    - language: node_js
      node_js:
        - "node"
        - "iojs"
      cache:
        directories:
          - node_modules
      install:
        - npm install -g codecov
      script:
        - npm install
        - npm run build:production
       # - npm run test:unit
       # - codecov
      deploy:
        provider: pages
        skip-cleanup: true
        github-token: $GITHUB_TOKEN
        keep-history: true
        verbose: true
        file: build/*
        # project: ./build/
        on:
          branch: master
